body{
    background-repeat: no-repeat;
    background-size:cover ;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    ;
}

h1{
    text-align: center;
    margin-top: 100px;
}


#counter{
    text-align: center;
    
}

button{
    border-radius: 10px;
    height: 50px;
    width: 200px;
}
#increment-btn{
    background-color: darkgreen;
    color: white;
}
#decrement-btn{
    background-color: darkred;
    color: white;
}

